################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FarmManagementAPI/.vs/FarmManagementAPI
/FarmManagementAPI/.vs/ProjectEvaluation/farmmanagementapi.metadata.v9.bin
/FarmManagementAPI/.vs/ProjectEvaluation/farmmanagementapi.projects.v9.bin
/FarmManagementAPI/FarmManagementAPI/bin/Debug/net9.0/FarmManagementAPI.dll
/FarmManagementAPI/FarmManagementAPI/bin/Debug/net9.0/FarmManagementAPI.exe
/FarmManagementAPI/FarmManagementAPI/bin/Debug/net9.0/FarmManagementAPI.pdb
/FarmManagementAPI/FarmManagementAPI/bin/Release/net9.0/cs
/FarmManagementAPI/FarmManagementAPI/bin/Release/net9.0/de
/FarmManagementAPI/FarmManagementAPI/bin/Release/net9.0/es
/FarmManagementAPI/FarmManagementAPI/bin/Release/net9.0/fr
/FarmManagementAPI/FarmManagementAPI/bin/Release/net9.0
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/ref/FarmManagementAPI.dll
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/apphost.exe
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/FarmManagementAPI.AssemblyInfo.cs
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/FarmManagementAPI.AssemblyInfoInputs.cache
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/FarmManagementAPI.csproj.CoreCompileInputs.cache
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/FarmManagementAPI.dll
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/FarmManagementAPI.pdb
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/FarmManagementAPI.sourcelink.json
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/refint/FarmManagementAPI.dll
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/ref
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/refint
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/apphost.exe
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmMana.F86777D9.Up2Date
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmManagementAPI.AssemblyInfo.cs
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmManagementAPI.AssemblyInfoInputs.cache
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmManagementAPI.csproj.BuildWithSkipAnalyzers
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmManagementAPI.csproj.FileListAbsolute.txt
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmManagementAPI.dll
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmManagementAPI.genruntimeconfig.cache
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmManagementAPI.pdb
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/FarmManagementAPI.sourcelink.json
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/rjsmcshtml.dswa.cache.json
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/rjsmrazor.dswa.cache.json
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/staticwebassets.build.endpoints.json
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/staticwebassets.build.json
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/staticwebassets.build.json.cache
/FarmManagementAPI/FarmManagementAPI/obj/Release/net9.0/staticwebassets.references.upToDateCheck.txt
/FarmManagementAPI/FarmManagementAPI/obj/Debug/net9.0/rpswa.dswa.cache.json
